{% extends 'layout.html' %}
{% load widget_tweaks %}


{% block title %}Login{% endblock %}

{% block main-content %}

    <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-5 border rounded mx-auto mt-5">
            <h3 class="my-3">Reset Password</h3>
            <form method="post">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Reset</button>
                    <a href="{% url 'login' %}" class="btn btn-default">Cancel</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
