{% extends 'layout.html' %}
{% load payment_extras %}

{% block title %}Game Detail{% endblock %}

{% block main-content %}

    <h1>{{ object.title }}</h1>
    <img src="{{ object.cover_image.url }}" alt="{{ object.title }}" style="max-width: 100%">

    {% if user.is_authenticated %}

        {% if user|has_game:object %}

            <a href="#" class="btn btn-light">Play</a>

        {% else %}

            <p>Price: {{ object.price|price }}</p>
            <a href="http://localhost:8000{% url 'payment_checkout' pk=object.pk %}" class="btn btn-light">Buy</a>

        {% endif %}

    {% else %}

        <p>Price: {{ object.price|price }}</p>
        <a href="http://localhost:8000{% url 'payment_checkout' pk=object.pk %}" class="btn btn-light">Buy</a>

    {% endif %}

{% endblock %}