{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block title %}Home{% endblock %}

{% block main-content %}
    <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-5 border rounded mx-auto mt-5">
            <h3 class="my-3">Register</h3>
            <form method="post">
                {% csrf_token %}
                <!-- django tweaks code reference: https://simpleisbetterthancomplex.com/2015/12/04/package-of-the-week-django-widget-tweaks.html-->
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
                <!-- /django tweaks code reference -->
                <div class="form-group">
                    <button type="submit" name="button" class="btn btn-primary">Sign-up</button>
                    <a href="{% url 'index' %}" class="btn btn-default role="button">Cancel</a>
                    <p class="mt-2"><a href="{% url 'login' %}" class="text-muted">Do you have an account?</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
