{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}Play game{% endblock %}

{% block main-content %}

<section id="section1">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="panel-body">
                <h3 class="panel-title" id="gameTitle">{{ game.title }}</h3>
                <hr>
                <div id="Game" style="text-align: center;">
                    <iframe id="game_iframe" name="game_iframe" width="500" height="500" class="embed-responsive-item" src="{{ game.game_file.url }}"></iframe>
                </div>
                <hr>
                <div class="contact">
                    <h2>Leaderboard</h2>
                    <ol id="highscores">
                    {% if highscores %}
                        {% for highscore in highscores %}
                            <li>{{ highscore.username }}: {{ highscore.score }}</li>
                        {% endfor %}
                    {% else %}
                    No highscores found.
                    {% endif %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    let token = '{{ csrf_token }}';
    let gameId = '{{ game.pk }}';
</script>
<script src="{% static 'js/messaging.js' %}"></script>

{% endblock %}
