{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}{{ game.title }}{% endblock %}

{% block main-content %}

<div class="row">
    <div class="col">
        <div class="panel-body">
            <h2 class="my-3">{{ game.title }}</h2>
            <div style="text-align: center;">
                <iframe id="game-container" width="500" height="500" class="embed-responsive-item" src="{{ game.game_file.url }}"></iframe>
            </div>
            <div class="contact">
                <h3 class="my-3">Leaderboard</h3>
                <ol id="highscores">
                {% if highscores %}
                    {% for highscore in highscores %}
                        <li>{{ highscore.username }}: {{ highscore.score }}</li>
                    {% endfor %}
                {% else %}
                No highscores found.
                {% endif %}
                </ol>
            </div>
        </div>
    </div>
</div>

<script>
    let token = '{{ csrf_token }}';
    let gameId = '{{ game.pk }}';
</script>
<script src="{% static 'js/messaging.js' %}"></script>

{% endblock %}
