{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block title %}Add Game{% endblock %}
{% block main-content %}

    <h2 class="my-3">Add Game</h2>

    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Add</button>
    </form>

    {% if form.subject.errors %}
        <ol>
            {% for error in form.subject.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
    {% endif %}

{% endblock %}
