{% extends 'layout.html' %}
{% load payment_extras %}

{% block title %}Game Detail{% endblock %}

{% block main-content %}

<div class="row">
    <div class="col p-3">
        <h2 class="mb-3">{{ object.title }}</h2>

        <div class="card bg-dark border-secondary" style="max-width: 500px;">
            <img src="{{ object.cover_image.url }}" class="card-img-top" alt="{{ object.title }}">
        </div>

        <div class="my-3">
            {% if user.is_authenticated and user|has_game:object %}
                <a href="{% url 'game' object.pk %}" class="btn btn-outline-light">Play</a>
            {% else %}
                <a href="{% url 'payment_checkout' pk=object.pk %}" class="btn btn-outline-success">{{ object.price|price }}</a>
            {% endif %}
        </div>

        <div class="contact">
            <h3 class="my-3">Leaderboard</h3>
            <ol id="highscores">
            {% if highscores %}
                {% for highscore in highscores %}
                    <li>{{ highscore.username }}: {{ highscore.score }}</li>
                {% endfor %}
            {% else %}
            No highscores found.
            {% endif %}
            </ol>
        </div>
    </div>
</div>


{% endblock %}